<%= form_for(@vampire) do |a| %>
    <%= a.label :name %>
    <%= a.text_field :name %><br><br>

    <%= a.label :hp %>
    <%= a.number_field :hp %><br><br>

    <%= a.label :speed %>
    <%= a.number_field :speed %><br><br>

    <%= a.label :danger_level %>
    <%= a.number_field :danger_level %><br><br>

    <%= a.submit "Join Kain" %>
<% end %>

<h2><%= link_to "Kain's Legions", vampires_path %></h2>