<h1><%= @vampire.name %></h1>
Vitality: <%= @vampire.hp %><br><br>
Speed: <%= @vampire.speed %><br><br>
Danger Level: <%= @vampire.danger_level %><br><br>
Powers: <br><br>
<% @vampire.abilities.each do |ability| %>
    <%= link_to ability.name, ability %>
<% end %><br><br>

<h2><%= link_to "To Kain's Legions", vampires_path %></h2>
<h2><%= link_to "Feed", edit_vampire_path %></h2>