<h1><%= @hunter.name %></h1>
Vitality: <%= @hunter.hp %><br><br>
Speed: <%= @hunter.speed %><br><br>
Your Weapon: <%=link_to @hunter.weapons.first.name, Weapon.find(params[:id]) %>

<h2><%= link_to "To The Sarafam's Fortresses", hunters_path %></h2>