<h1><%= @hunter.name %></h1>
Vitality: <%= @hunter.hp %><br><br>
Speed: <%= @hunter.speed %><br><br>
Weapons: <br><br>
<% @hunter.weapons.each do |weapon| %>
    <%= link_to weapon.name, weapon %>
<% end %><br><br>

<h2><%= link_to "To The Sarafam's Fortresses", hunters_path %></h2>
<h2><%= link_to  "Train", edit_hunter_path%><br><br>

<%= button_to "Destroy", {:controller => :hunters, :action => 'destroy', :id => @hunter.id }, :method => :delete %>