<h1>For Nosgoth! <%= @encounter.time %></h1>
<h3><%= Hunter.find(@encounter.hunter_id).name %> is hunting the vampire <%= Vampire.find(@encounter.vampire_id).name%></h2>

<%= link_to "Vae Victis!", "/encounters/#{@encounter.id}/fight" %>

<%= image_tag("https://c.wallhere.com/photos/92/d0/Legacy_of_Kain_Blood_Omen_Soul_Reaver_Kain_Raziel_video_games-339773.jpg!d", :alt => "rss feed") %>
