<h1>The Sarafam Must Care For Their Arms</h1>

<%= form_for(@weapon) do |a| %>
    <%= a.label :name %>
    <%= a.text_field :name %><br><br>

    <%= a.label :damage %>
    <%= a.number_field :damage %><br><br>

    <%= a.label :speed %>
    <%= a.number_field :speed %><br><br>

    <%= a.submit "Reforge Arm" %>
<% end %>