<h1><%= @weapon.name %></h1>
Power: <%= @weapon.damage %><br><br>
Speed: <%= @weapon.speed %><br><br>
Description: <%= @weapon.description %><br><br>

<h2><%= link_to "To The Armory", weapons_path %></h2>