<h1><%= @ability.name %></h1>
Power: <%= @ability.damage %><br><br>
Speed: <%= @ability.speed %><br><br>
Description: <%= @ability.description %><br><br>

<h2><%= link_to "Return To Kain's Legions", vampires_path %></h2>